<!-- <div class="row row-edit col-lg-12 no-padding-left no-pad-right-767 padding-bottom-15"> -->
    <!-- <div class="col-md-8 col-sm-8 col-xs-12 no-padding-left no-padding-right"> -->
        <div class="hm-lt-row row no-margin-left">
            <div class="no-padding-left bl-hm-sec-one">
                <h2 class="top-article-header">
                    <a style="color:#a5c715;" href="/series/<%= articles[0].mi %>/<%= articles[0].mt %>">
                        <p class="inline"><%= articles[0].mt %></p>
                    </a>
                    <p class="inline pull-right"></p>
                </h2>
                <div class="col-md-6 col-sm-6 col-xs-7 bl-hm-sec-one-content bl-hm-sec-one-content-inverted no-padding-all no-margin-left">
                    <div class="wrapper">
                        <div class="four-by-five-content"></div>
                        <div class="content hm-content-padding">
                            <h3 class="hm-inner-content-s2">
                                <a href="/news/<%= articles[0].Id %>/<%= articles[0].u %>">
                                <%= articles[0].t %>
                                </a>
                            </h3>
                            <div class="hm-inner-content-s3">
                                <a href="/news/<%= articles[0].Id %>/<%= articles[0].u %>">
                                    <p><%= articles[0].e %></p>
                                </a>
                            </div>
                            <div class="hm-inner-content-s4 red-text">
                                <a href="/match/<%= articles[0].mi %>">
                                    <p></p>
                                </a>
                            </div>
                            <div class="hm-inner-content-s5">
                                <a href="/match/<%= articles[1].mi %>">
                                    <div class="bl-inner-sm-img inline-block">
                                    </div>
                                    <div class="bl-inner-sm-img inline-block">
                                    </div>
                                </a>
                                <div class="inline-block">
                                    <a href="/match/<%= articles[1].mi %>">
                                        <%= articles[1].t %>
                                    </a>
                                </div>
                            </div>
                            <div class="hm-inner-content-s5 hide-nine-hundred">
                                <a href="/match/<%= articles[2].mi %>">
                                    <div class="bl-inner-sm-img inline-block">
                                    </div>
                                    <div class="bl-inner-sm-img inline-block"></div>
                                </a>
                                <div class="inline-block">
                                    <a href="/match/<%= articles[2].mi %>">
                                        <%= articles[2].t %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-5 blogs-hm-section-two blogs-hm-section-two-inner no-padding-all">
                    <div class="wrapper">
                        <a href="/news/<%= articles[0].Id %>/<%= articles[0].u %>">
                            <div class="four-by-five"></div>
                            <div class="content"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->
