<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="google-site-verification" content="_R0-4-nBjFrLnBz-RP8cr52hKxRQZjmoCKjH5ftFJjk" />
  <meta name="msvalidate.01" content="DE3543F977324B6B30BE093173D15E63" />

  <!-- <link href="css/main.css" rel="stylesheet"/> -->
  <style>
    <%- myCss %>
  </style>
</head>

<body class="body">

    <% include partials/header %>

    <div align="center" class="no-display-add" style="padding-top:20px">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Responsive Leaderboard Ad -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3238745780396934" data-ad-slot="9021801800" data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <div class="container-fluid no-padding">
      <div class="wrapper-outer">
        <div class="wrapper-inner">
          <div class="col-md-9 col-sm-8 col-xs-12 left-outer-container" style="padding-left: 10px;">
            <%- articlesTemplate %>
          </div>
          <div class="col-md-3 col-sm-4 hide-xs-screen no-padding right-outer-container" style="padding-left: 0px; padding-right: 10px;">
            <div class="scorecard-menu right-column-box hide-xs-screen">
              <ul class="nav nav-tabs icon-menu-bar">
                <li class="active action-icons hm-active-action-icon">
                  <i class="icon-clock" data-toggle="tab" href="#match-timings"></i>
                </li>
                <li class="action-icons">
                  <i class="icon-bookmark" data-toggle="tab" href="#book-marks"></i>
                </li>
                <li class="action-icons">
                  <i class="icon-monitor" data-toggle="tab" href="#notifications"></i>
                </li>
                <li class="action-icons">
                  <i class="icon-users" data-toggle="tab" href="#friends"></i>
                </li>
                <li class="action-icons">
                  <i class="icon-chart-bar" data-toggle="tab" href="#trending"></i>
                </li>
              </ul>
              <div class="tab-content" id="right-widget-scroller">
                <div id="match-timings" class="tab-pane fade in active">
                  <%- matchWidgetTemplate %>
                </div>
                <div id="book-marks" class="tab-pane fade">
                  <p>Bookmarks</p>
                </div>
                <div id="notifications" class="tab-pane fade">
                  <p>Notifications.</p>
                </div>
                <div id="friends" class="tab-pane fade in">
                  <p>Friends.</p>
                </div>
                <div id="trending" class="tab-pane fade in">
                  <%- trendingArticlesTemplate %>
                </div>
              </div>
            </div>

            <div align="center" class="scorecard-ad-300x250 no-display-add">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- Right Sidebar Rectangle -->
              <ins class="adsbygoogle " style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-3238745780396934"
                data-ad-slot="4452001403"></ins>
              <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
            
            <div class="right-column-box rankings-row">
              <div id="team-rankings"></div>
              <%- teamRankingTemplate %>
            </div>

            <div class="right-column-box rankings-row">
              <div id="player-rankings"></div>
              <%- playerRankingTemplate %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include partials/footer %>

      <!-- <link rel="preload" href="css/custom-bootstrap.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="css/custom-bootstrap.css"></noscript> -->
      <!-- TODO:: ADD CROSS BROWSER SUPPORT FOR PRELOAD -->

      <!-- LOADING ESSENTIAL SCRIPTS FOR PAGE -->
      <script rel="preload" as="script" src="js/lib/jquery-3.1.1.min.js"></script>
      <script rel="preload" as="script" src="js/lib/bootstrap.min.js"></script>
      <script src="webpack/homePage.bundle.<%= jsChunk %>"></script>
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 864160926;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
            /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display: inline;">
          <img height="1" width="1" style="border-style: none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/864160926/?guid=ON&amp;script=0"
          />
        </div>
      </noscript>
</body>

</html>