<!DOCTYPE html>
<html>

<head>

    <meta name="google-site-verification" content="_R0-4-nBjFrLnBz-RP8cr52hKxRQZjmoCKjH5ftFJjk" />
    <meta name="msvalidate.01" content="DE3543F977324B6B30BE093173D15E63" />
    <meta name='viewport' content='content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"' />


    <title>
        <%= title %>
    </title>
    <meta name="google-site-verification" content="_R0-4-nBjFrLnBz-RP8cr52hKxRQZjmoCKjH5ftFJjk" />
    <meta name="msvalidate.01" content="DE3543F977324B6B30BE093173D15E63" />

    <!-- <link href="css/main.css" rel="stylesheet"/> -->
    <style>
        <%- seriesCss %>
    </style>
</head>

<body class="body">

    <% include partials/header %>

        <div align="center" class="no-display-add" style="padding-top:20px">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive Leaderboard Ad -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3238745780396934" data-ad-slot="9021801800" data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <div class="container-fluid no-padding">
            <div class="wrapper-outer">
                <div class="wrapper-inner" data-attr-seriesid="<%= seriesId %>">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 box-padding-top-25">
                            <h1 class="main-series-title no-margin padding-bottom-heading">
                                <%= seriesTitle.replace(/-/g, ' ').replace(/%2D/g, '-') %>
                            </h1>

                            <%
                                var a = "";
                                if(seriesMatchs[0].test > 0){
                                    a =  seriesMatchs[0].test + " Tests, "
                                 } 
                                if(seriesMatchs[0].oDI > 0){
                                a += seriesMatchs[0].oDI + " ODIs, "
                                    }  
                                if(seriesMatchs[0].t20 > 0) { 
                                     a += seriesMatchs[0].t20 + " T20s, "
                                 }  
                                if(seriesMatchs[0].t10 > 0){
                                 a += seriesMatchs[0].t10 + " T10s, "
                                 } 
                                 a = a.trim();
                                 a = a.substr(0, a.length - 1)
                            %>

                                <h2 class="main-series-detail no-margin">
                                    <%= a %>
                                </h2>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-6" id="Series-content" style="padding-left: 10px; margin-top: 20px;">
                        <div id="homepage-content" class="margin-top-20">
                            <%- seriesArticleTemplate %>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 no-padding right-outer-container float-right-block" style="padding-left: 10px;">
                        <div id="series-pools" style="padding: 20px 20px 20px 0px;">
                        </div>

                        <div id="series-stat" style="padding: 0px 20px 20px 0px;">
                        </div>

                        <div id="feature-article" style="padding: 20px 20px 20px 0px;">
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 hide-xs-screen no-padding right-outer-container" style="padding-left: 0px; padding-right: 10px;">
                        <div class="scorecard-menu right-column-box hide-xs-screen">
                            <ul class="nav nav-tabs icon-menu-bar">
                                <li class="active action-icons hm-active-action-icon">
                                    <i class="icon-clock" data-toggle="tab" href="#match-timings"></i>
                                </li>
                                <li class="action-icons">
                                    <i class="icon-bookmark" data-toggle="tab" href="#book-marks"></i>
                                </li>
                                <li class="action-icons">
                                    <i class="icon-monitor" data-toggle="tab" href="#notifications"></i>
                                </li>
                                <li class="action-icons">
                                    <i class="icon-users" data-toggle="tab" href="#friends"></i>
                                </li>
                                <li class="action-icons">
                                    <i class="icon-chart-bar" data-toggle="tab" href="#trending"></i>
                                </li>
                            </ul>
                            <div class="tab-content" id="right-widget-scroller">
                                <div id="match-timings" class="tab-pane fade in active">
                                    <%- seriesWidgetTemplate %>
                                </div>
                                <div id="book-marks" class="tab-pane fade">
                                    <p>Bookmarks</p>
                                </div>
                                <div id="notifications" class="tab-pane fade">
                                    <p>Notifications.</p>
                                </div>
                                <div id="friends" class="tab-pane fade in">
                                    <p>Friends.</p>
                                </div>
                                <div id="trending" class="tab-pane fade in">
                                    <%- trendingArticlesTemplate %>
                                </div>
                            </div>
                        </div>

                        <div id="team-squad">
                            <%- seriesSquadTemplate %>
                        </div>


                        <div class="right-column-box">
                            <div id="trending-article">
                                <%- trendingArticlesTemplate %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/footer %>

            <script rel="preload" defer as="script" src="/js/lib/jquery-3.1.1.min.js"></script>
            <script rel="preload" defer as="script" src="/js/lib/bootstrap.min.js"></script>
            <script src="/webpack/seriesPage.bundle.<%= jsChunk %>"></script>

            <!-- GOOGLE ADS AND MOUSE TRACKING SCRIPTS -->
            <script type="text/javascript">
                var google_conversion_id = 864160926;
                var google_custom_params = window.google_tag_params;
                var google_remarketing_only = true;
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
            <noscript>
                <div style="display: inline;">
                    <img height="1" width="1" style="border-style: none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/864160926/?guid=ON&amp;script=0"
                    />
                </div>
            </noscript>
</body>

</html>