<div class="match-overview">
    <!-- <div class="match-report bg-white three-border">
        <div class="title">Match Report</div>
        <div class="match-summary">
            <%- matchOverview.matchReport %>
        </div>
    </div> -->
    
    <div class="match-report bg-white three-border">
        <div class="title">Match Details</div>
        <div class="detail-summary">
            <div class="match-detail">
                <div class="detail-row">
                    <div class="detail-name">Series</div>
                    <div class="detail-data series" style="color: #337ab7;"><%= matchOverview.SeriesTitle %></div>
                </div>
                <div class="detail-row toss">
                    <div class="detail-name">Toss</div>
                    <div class="detail-data toss"><%= matchOverview.toss %></div>
                </div>
                <div class="detail-row up">
                    <div class="detail-name">Umpires</div>
                    <div class="detail-data">
                        <% if (matchOverview.Umpire) { %>
                            <% for (var i = 0; i < matchOverview.Umpire.length; i++) { %>
                                <% if (i > 0) { %>
                                    <div style="display: flex; align-items: center; margin-top: 10px;">
                                        <div class="sprite-<%= matchOverview.Umpire[i].d.replace(/\s+/g, '').toLowerCase() %>"></div>
                                        <div class="up" style="margin-left: 5px;">
                                            <%= matchOverview.Umpire[i].fln %>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div style="display: flex; align-items: center;">
                                        <div class="sprite-<%= matchOverview.Umpire[i].d.replace(/\s+/g, '').toLowerCase() %>"></div>
                                        <div class="up" style="margin-left: 5px;">
                                            <%= matchOverview.Umpire[i].fln %>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="detail-row mr">
                    <div class="detail-name">Match Refree</div>
                    <div class="detail-data up">
                        <% if (matchOverview.Umpirerefere) { %>
                            <% for (var i = 0; i < matchOverview.Umpirerefere.length; i++) { %>
                                <% if (i > 0) { %>
                                    <div style="display: flex; align-items: center; margin-top: 10px;">
                                        <div class="sprite-<%= matchOverview.Umpirerefere[i].d.replace(/\s+/g, '').toLowerCase() %>"></div>
                                        <div class="up" style="margin-left: 5px;">
                                            <%= matchOverview.Umpirerefere[i].fln %>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div style="display: flex; align-items: center;">
                                        <div class="sprite-<%= matchOverview.Umpirerefere[i].d.replace(/\s+/g, '').toLowerCase() %>"></div>
                                        <div class="up" style="margin-left: 5px;">
                                            <%= matchOverview.Umpirerefere[i].fln %>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <div class="detail-row up">
                    <div class="detail-name">Tv Umpire</div>
                    <div class="detail-data up">
                        <% if (matchOverview.UmpireTv) { %>
                            <% for (var i = 0; i < matchOverview.UmpireTv.length; i++) { %>
                                <% if (i > 0) { %>
                                    <div style="display: flex; align-items: center; margin-top: 10px;">
                                        <div class="sprite-<%= matchOverview.UmpireTv[i].d.replace(/\s+/g, '').toLowerCase() %>"></div>
                                        <div class="up" style="margin-left: 5px;">
                                            <%= matchOverview.UmpireTv[i].fln %>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <div style="display: flex; align-items: center;">
                                        <div class="sprite-<%= matchOverview.UmpireTv[i].d.replace(/\s+/g, '').toLowerCase() %>"></div>
                                        <div class="up" style="margin-left: 5px;">
                                            <%= matchOverview.UmpireTv[i].fln %>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="venue-details">
                <div style="display: flex; flex-direction: column; align-items: flex-start;">
                    <div id="venue-name" class="venue-city"></div>
                    <div id="match-time" class="match-time"></div>    
                </div>
            </div>
        </div>
    </div>

    <div class="match-report bg-white three-border">
        <div class="title">Pitch and Weather Report</div>
        <div class="pitch-summary">
            <div class="icon-and-text">
                <div class="icon weather" style="background-image: url('https://d7d7wuk1a7yus.cloudfront.net/static-assets/pitch_icon.png')"></div>
                <div class="text weather"><%= matchOverview.pitch %></div>
            </div>
            <div class="icon-and-text">
                <div class="icon weather" style="background-image: url('https://d7d7wuk1a7yus.cloudfront.net/static-assets/wind_icon.png')"></div>
                <div class="text weather"><%= matchOverview.weather %></div>
            </div>
            <div class="icon-and-text">
                <div class="icon weather" style="background-image: url('https://d7d7wuk1a7yus.cloudfront.net/static-assets/humidity_icon.png')"></div>
                <div class="text weather"><%= matchOverview.humidity %></div>
            </div>
            <div class="icon-and-text">
                <div class="icon weather" style="background-image: url('https://d7d7wuk1a7yus.cloudfront.net/static-assets/temprature_icon.png')"></div>
                <div class="text weather"><%= matchOverview.temperature %></div>
            </div>
        </div>
    </div>
    <% if (matchOverview.MOTMId !== null && matchOverview.MOTMName !== '') { %>
        <div class="match-report bg-white three-border">
            <div class="title">Man Of The Match</div>
            <div class="pitch-summary">
                <div class="icon-and-text">
                    <div class="motm-image icon" style="background-image: url('https://d7d7wuk1a7yus.cloudfront.net/player-images/<%= matchOverview.MOTMId %>.png')"></div>
                    <div class="motm-title">MAN OF THE MATCH</div>
                    <div class="motm-name"><%= matchOverview.MOTMName %></div>                    
                </div>
            </div>
        </div>
    <% } %>
</div>
